{% extends 'base.html.twig' %}

{% block title %}Hello ClasseController!{% endblock %}

{% block body %}

  <div class="container">
        <div class="row">
            <div class="col-md-3">
                <a href="{{path('professeur_show_cours')}}" class='btn btn-primary'>Cours</a>
                <a href="{{path('professeur_show_epreuve')}}" class='btn btn-primary'>Epreuve</a>
            </div>
        </div>
        <table id="professeur_listOfClassEtudiant" cellspacing="0" class="table table-bordered table-striped grid" style="width:100%">
            <thead>
                <tr>
                    <th>#</th>
                    <th>Nom</th>
                    <th>Prenom</th>
                    <th>Action</th>
                </tr>
            </thead>
            <tbody>
            
            </tbody>
            <tfoot>
                <tr>
                    <th>#</th>  
                    <th>Nom</th>
                    <th>Prenom</th>
                    <th>Action</th>
                </tr>
            </tfoot>
        </table>
    </div>


    {% include 'professeur/classe/note.html.twig'%}

<div class="overlayOuvrage" >

</div>
<div class="popOuvrage">
    <div class="loadingScreen"><i class="fas fa-spinner fa-spin"></i></div>
    <i class="fa fa-times xOuvrage"></i>
    <div class="noteEtudiant">
        <div class="form-group">
            <ul>
                <li>
                    <p>Nom: <span>...</span></p>
                </li>
                <li>
                    <p>Prenom: <span>...</span></p>
                </li>
            </ul>
        </div>
        <table style="margin-top: 2rem;" class="table table-bordered">
        <thead>
            <tr>
            <th scope="col" style="background-color: #333; color: white;">epreuve</th>
            <th scope="col" style="background-color: #333;color: white;">matiere</th>
            <th scope="col" style="background-color: #333;color: white;">note</th>
            </tr>
        </thead>
        <tbody id="tbodyNote">
            
        </tbody>
        </table>
    </div>
    </div>
</div>    
{% endblock %}
