{% extends 'base.html.twig' %}

{% block title %}Hello ClasseController!{% endblock %}

{% block body %}

   <div class="container">
        <table id="listOfEtudiant" cellspacing="0" class="table table-bordered table-striped grid" style="width:100%">
            <thead>
                <tr>
                    <th>Id</th>
                    <th>Nom</th>
                    <th>Prenom</th>
                    <th>Classe</th>
                    <th>Action</th>
                </tr>
            </thead>
            <tbody>
            
            </tbody>
            <tfoot>
                <tr>
                    <th>Id</th>
                    <th>Nom</th>
                    <th>Prenom</th>
                    <th>Classe</th>
                    <th>Action</th>
                </tr>
            </tfoot>
        </table>
    </div>

<div class="overlayOuvrage" >

</div>
<div class="popOuvrage">
    <div class="loadingScreen"><i class="fas fa-spinner fa-spin"></i></div>
    <i class="fa fa-times xOuvrage"></i>
    <div class="contentFacture">
        <div class="form-group">
            <ul>
                <li>
                    <p>Nom: <span>...</span></p>
                </li>
                <li>
                    <p>Prenom: <span>...</span></p>
                </li>
                <li>
                    <p>Classe: <span>...</span></p>
                </li>
            </ul>
            <label class="col-md-3 control-label required" for="appbundle_theme_discipline" style="font-weight: bold">frais</label>
            <div class="col-md-9 chooseFrais">
                <select id="selectFrais"  class="form-control input-sm ">
                    <div style="height: 200px; overflow-y: scroll ">
                    <option>Choisir un frais</option>
                    
                    </div>
                </select>
                <button type="button" class="btn btn-secondary addEtudiantFrais">ajouter</button>
            </div>
        </div>
        <table style="margin-top: 2rem;" class="table table-bordered">
        <thead>
            <tr>
            <th scope="col" style="background-color: #333; color: white;">Order</th>
            <th scope="col" style="background-color: #333;color: white;">Designation</th>
            <th scope="col" style="background-color: #333;color: white;">Prix</th>
            <th scope="col" style="background-color: #333;color: white;">Action</th>
            </tr>
        </thead>
        <tbody id="tbodyFacture">
            
        </tbody>
        </table>
        <button type="button" class="btn btn-secondary">Imprimer la facture</button>
    </div>
</div>
{% endblock %}