<html>

<head>
    <title>{{title}}</title>
</head>

<body>

    <div>
        <div >
            <div >
                <div style="text-align: center;">
                    <h1>{{title}}</h1>
                </div>
                <div >
                    <div style="font-weight: bold;">
                        <label>Nom : </label>
                        <label>Prenom :</label>
                        <label>Classe :</label>
                        <br/>
                        <label>Fait le : {{ "now"|date("d/m/Y") }}</label>
                        <table style="margin-top: 5rem; margin-left: auto; margin-right: auto;" class="table table-bordered fraisEtudiant" >
                            <thead>
                                <tr>
                                    <th scope="col" style="background-color: #333;color: white;">Designation</th>
                                    <th scope="col" style="background-color: #333;color: white;">Prix</th>
                                </tr>
                            </thead>
                            <tbody id="tbodyFacture">
                            </tbody>
                        </table>
                        <label>Somme : </label>
                    </div>
                </div>
            </div>
        </div>

    </div>

</body>

</html>