{% extends 'base.html.twig' %}

{% block title %}Hello MatiereController!{% endblock %}

{% block body %}
<div class="container">
    <div class="row">
        <div class="col-md-3">
            <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#addMatiere"> Ajouter Matiere</button>
        </div>
    </div>
    <div class="col-md-12">
        <h3>Listes matieres :</h3>
        <div class="table-responsive">
            <table id="mytable" class="table table-bordred table-striped">
                <thead>
                    <th>Id matiere</th>
                    <th>Designation</th>
                    <th>Action</th>
                </thead>
                <tbody class="addMatiere">
                {% include 'admin/matiere/listMatiere.html.twig' %}
                </tbody>
            </table>
        </div>
    </div>
</div>






<div class="modal fade" id="addMatiere" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">Ajouter matiere</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
            <form id="addMatiereForm">
                <div class="mb-3">
                  <label for="designation" class="form-label">Designation</label>
                  <input type="text" name="designation" class="form-control" id="nom" aria-describedby="designation">
                </div>
                <button type="submit" class="btn btn-primary" style="font-size: 1.4rem;">Submit</button>
              </form>
        </div>
      </div>
    </div>
  </div>







  <div class="overlayOuvrage" >

</div>
<div class="popOuvrage">
    <div class="loadingScreen"><i class="fas fa-spinner fa-spin"></i></div>
    <i class="fa fa-times xOuvrage"></i>
    <div class="contentMatiere">
        <div class="form-group">
            
            <label class="col-md-3 control-label required" for="appbundle_theme_discipline" style="font-weight: bold">Professeur</label>
            <div class="col-md-9 chooseProf">
                <select id="selectProf"  class="form-control input-sm ">
                    <div style="height: 200px; overflow-y: scroll ">
                    <option>Choisir un professeur</option>
                    
                    </div>
                </select>
                <button type="button" class="btn btn-secondary addProfesseurMatiere">ajouter</button>
            </div>
        </div>
        <table style="margin-top: 2rem;" class="table table-bordered">
        <thead>
            <tr>
            <th scope="col" style="background-color: #333; color: white;">Order</th>
            <th scope="col" style="background-color: #333;color: white;">Nom</th>
            <th scope="col" style="background-color: #333;color: white;">Prenom</th>
            <th scope="col" style="background-color: #333;color: white;">Action</th>
            </tr>
        </thead>
        <tbody id="tbodyAffectationProf">
            
        </tbody>
        </table>
    </div>
</div>
{% endblock %}