{% for matiere in matieres %}
    <tr>
        <td>{{matiere.id}}</td>
        <td>{{matiere.designation}}</td>
        <td>
            <a class="bi bi-eye btn-xs" href="#"></a>
        </td>
    </tr>
{% endfor %}

