{% for matiere in matieres %}
    <tr>
        <td>{{matiere.id}}</td>
        <td>{{matiere.designation}}</td>
        <td>
            <i class='bi bi-trash deleteMatiere'  data-id='{{matiere.id}}'></i>
            <i class='bi bi-eye seeProfesseur'  data-id='{{matiere.id}}'></i>
        </td>
    </tr>
{% endfor %}


