{% extends 'base.html.twig' %}

{% block title %}Aouter un etudiant{% endblock %}

{% block body %}
<div class="main">
  <div class="container bg-color ">
      <h3 class="">Ajouter un nouveau etudiant</h3>
      <form>
          <div class="row " >
              <div class="col-md-6">
                <label for="nom" class="form-label">Nom</label>
                <input type="text" class="form-control" name="nom" id="nom">
              </div>
              <div class="col-md-6">
                <label for="prenom" class="form-label">Prenom</label>
                <input type="text" class="form-control" name="prenom" id="prenom">
              </div>
            
          </div>
          <div class="row " >
            <div class="col-md-6">
              <label for="dateNaissance" class="form-label">Date naissance</label>
              <input type="date" name="dateNaissance" class="form-control" id="dateNaissance">
            </div>
            <div class="col-md-6">
              <label for="ville" class="form-label">Ville</label>
              <select type="text" name="ville" class="form-select" id="ville">
                <option selected>Selection une region</option>
                <option value="Grand Casablanca">Grand Casablanca</option>
                <option value="Fes-Boulemane">Fes-Boulemane</option>
                <option value="Marrakech-Tensift-Al Haouz">Marrakech-Tensift-Al Haouz</option>
                <option value="Meknes-Tafilalet">Meknes-Tafilalet</option>
                <option value="Rabat-Sale-Zemmour-Zaer">Rabat-Sale-Zemmour-Zaer</option>
                <option value="Chaouia-Ouardigha">Chaouia-Ouardigha</option>
                <option value="Doukkala-Abda">Doukkala-Abda</option>
                <option value="Gharb-Chrarda-Beni Hssen">Gharb-Chrarda-Beni Hssen</option>
                <option value="Guelmim-Es Semara">Guelmim-Es Semara</option>
                <option value="Oriental">Oriental</option>
                <option value="Souss-Massa-Draa">Souss-Massa-Draa</option>
                <option value="Tadla-Azilal">Tadla-Azilal</option>
                <option value="Tanger-Tetouan">Tanger-Tetouan</option>
                <option value="Taza-Al Hoceima-Taounate">Taza-Al Hoceima-Taounate</option>
              </select>
            </div>
          </div>
          <div class="row " >
            <div class="col-md-6">
              <label for="nomP" class="form-label">Nom pére</label>
              <input type="text" name="nomP" class="form-control" id="nomP">
            </div>
            <div class="col-md-6">
              <label for="prenomP" class="form-label">Prenom pére</label>
              <input type="text" name="prenomP" class="form-control" id="prenomP">
            </div>
          </div>
          <div class="row " >
            <div class="col-md-4">
              <label for="emailP" class="form-label">Email pére</label>
              <input type="text" name="emailP" class="form-control" id="emailP">
            </div>
            <div class="col-md-4">
              <label for="fontctionP" class="form-label">Fonction pére</label>
              <input type="text" name="fontctionP" class="form-control" id="fontctionP">
            </div>
            <div class="col-md-4">
              <label for="telephoneP" class="form-label">Telephone pére</label>
              <input type="text" name="telephoneP" class="form-control" id="telephoneP">
            </div>
          </div>

          <div class="row " >
            <div class="col-md-6">
              <label for="nomM" class="form-label">Nom mére</label>
              <input type="text" name="nomP" class="form-control" id="nomM">
            </div>
            <div class="col-md-6">
              <label for="prenomM" class="form-label">Prenom mére</label>
              <input type="text" name="prenomM" class="form-control" id="prenoM">
            </div>
          </div>
          <div class="row " >
            <div class="col-md-4">
              <label for="emailM" class="form-label">Email mére</label>
              <input type="text" name="emailM" class="form-control" id="emailM">
            </div>
            <div class="col-md-4">
              <label for="fontctionM" class="form-label">Fonction mére</label>
              <input type="text" name="fontctionM" class="form-control" id="fontctionM">
            </div>
            <div class="col-md-4">
              <label for="telephoneM" class="form-label">Telephone mére</label>
              <input type="text" name="telephoneM" class="form-control" id="telephoneM">
            </div>
          </div>
          <button type="submit" class="btn btn-success">Ajouter</button>
      </form>
  </div>

</div>
{% endblock %}
