{% extends 'base.html.twig' %}

{% block title %}Emploi du temps{% endblock %}

{% block body %}

<div class="container">
        <div class="row">
            <div class="col-md-3">
                <a href="../releveNote" class='btn btn-primary'>Imprimer relevé du note</a>
            </div>
        </div>
        <table id="child_listOfNoteEpreuve" cellspacing="0" class="table table-bordered table-striped grid" style="width:100%">
            <thead>
                <tr>
                    <th>#</th>
                    <th>Epreuve</th>
                    <th>Matiere</th>
                    <th>Note</th>
                </tr>
            </thead>
            <tbody>
            
            </tbody>
            <tfoot>
                <tr>
                    <th>#</th>  
                    <th>Epreuve</th>
                    <th>Matiere</th>
                    <th>Note</th>
                </tr>
            </tfoot>
        </table>
    </div>

{% endblock %}